* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: "Raleway", sans-serif;
 }

nav {
    background: #4F5E44;
    
    padding: 10px 20px;
}

.logo1 {
    width: 250px;
    margin: auto;
    display: block;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px;
}
@media (max-width: 768px) {
   .nav-links{
    display: none;
   }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger {
    display: block !important;
    background: transparent;
     border: none;
    color: #fff;
     

}
.navbar{
    display:block !important;
}
}
.nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-links ul button{ 
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-links ul button:hover{
    border: 1px solid #DBA25B;
    color: #DBA25B;
    transition: 0.3s ease-in-out;

}
 .nav-links ul button:hover a{
    color: #DBA25B;
    text-decoration: none;
 }
.nav-links a {
    text-decoration: none;
     color: #fff;
     font-weight: 400;
}

.nav-links a:hover {
    color: #DBA25B;
    
    
     
}
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.nav-links2 {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 99;
  top: 110px;
  left: 0;
  background-color: #4F5E44;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.navbar{
    display: none;
}
.nav-links2 li {
  padding: 12px 0;
}

.nav-links2  a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav-links2 a button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-links2 a:hover {
  color: #DBA25B;
}

.nav-links2.show {
  display: block;
}

/* hero section start from here */
.swiper {
    width: 100%;
    
    height: 90vh;
    margin: auto;
     
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
@media (max-width: 768px) {
    .swiper {
        height: 35vh;
    }
    .swiper-slide img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
}
  .swiper-slide {
     
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* about section start from here */
  .about-section {
    background: #F2F2F2;
    padding: 100px 0px 0px;
     }
    .title-1{
      font-size: 45px;
      text-align: center;
      
    }
    @media (max-width: 768px) {
      .title-1{
        font-size: 35px;
      }
       .about-section
        {
          padding: 50px 0px 0px;
      
    }
  .contriner-1{
    margin-top: 30px !important;
  }}
    .contriner-1{
      display: flex;
      margin-top: 100px;

    }
    .contriner-1 img{
      width: 50%;
      height: 80vh;
      object-fit: cover;
    }
    .contriner-1 div{
      width: 50%;
      text-align: center;
      padding: 60px 100px;
    }
    @media (max-width: 768px) {
      .contriner-1{
        flex-wrap: wrap-reverse;
      }
      .contriner-1 img{
        width: 100%;
        height: 40vh;
      }
      .contriner-1 div{
        width: 100%;
padding: 20px;
text-align: start;

      }


       .contriner-2{
        flex-wrap:wrap !important;
      }
      .contriner-2 img{
        width: 100% !important;
        height: 40vh !important;
      }
      .contriner-2 div{
        width: 100% !important;
padding: 20px !important;
text-align: start !important;
      }
     
    }
    .text-1{
      font-size: 20px;
      line-height: 34px;
      color: #4F5E44;
    }
    .contriner-2{
      display: flex;
      margin: 0;
    }

    .contriner-2 div{
      width: 50%;
      padding: 60px 100px;
    }
    .contriner-2 img{
       width: 50%;
      height: 80vh;
      object-fit: cover;
    }
    .text-2{
      font-size: 20px;
      line-height: 34px;
      color: #4F5E44;
    }
    /* opening section start from here */
    .title-2{
      margin: 100px 0px;
      text-align: center;
      font-size: 45px;
    }
    .container-3{
      display: flex;
      justify-content: center;
       flex-wrap: wrap;
       margin: 0px 150px;
      padding-bottom: 100px;
       gap: 50px;
    }
    .images{
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    @media (max-width: 768px) {
      .title-2{
        margin: 50px 0px;
        font-size: 35px !important;
      }
      .container-3{
        margin: 0px 20px !important;
        gap: 20px !important;
        flex-wrap: wrap-reverse !important;
        padding-bottom: 50px !important;
      }
      .images{
        width: 100% !important;
      }
      .images img{
        width: 100% !important;
        height: 250px !important;
      }
      .text-3{
        width: 100% !important;
        font-size: 18px !important;
        display: flex !important;
         
       

        
      }
      .text-3 div{
        width: 45%;
        height: auto !important;
      }
      .div-2{
        margin: 0px 20px !important;
        flex-wrap: wrap-reverse !important;
        height: 100% !important;
      }
      .div-2 img{
        width: 100% !important;
        height: 300px !important;
      } 
      .div-2 .inner-text{
        width: 100% !important;
        padding: 0 20px 20px 20px !important;
        text-align: center !important;
        
      }
       .reservation-section{
        padding: 50px 0px !important;
        margin: 40px 0px !important;
       }
      
    }
    .text-3{
      width: 35%;
     font-size: 20px;
     display: flex; 
     gap:  20px;
     flex-wrap: wrap;
  color: #3d3f3a;

    }
    .images img{
      width: 40%;
      height: 250px;
      object-fit: cover;
      border-radius: 30px;
    }
    .div-2{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 0px 180px;
      height: 500px;
    }
    .div-2 img{
      width: 60%;
      height: 100%;
      object-fit: cover;
      
       
       
    }
    .div-2 .inner-text{
      width: 35%;
      padding: 50px;
      gap: 20px;
      text-align: center;
      display:flex;
      flex-direction: column;
      
    }
    .inner-text button{
      border: 2px solid #4F5E44;
      background-color: transparent;
      color: black;
       
     width: 200px;
     height: 50px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
    }
    .inner-text button:hover{
      border: 2px solid #DBA25B;
      color: #DBA25B;
      
    }
    .reservation-section {
      margin-top: 100px;
      padding: 100px 0px;
      text-align: center;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/8504.jpg');
      background-size: cover;
      background-color: #45454489;
      background-position:   bottom 90px right 0px;
      
      color: white;
       background-attachment: fixed;
    }
  
    .reservation-section .h-1 {
      font-size: 35px;
      margin-bottom: 20px;
    }
    .btn{
     border: 2px solid #DBA25B;
      background-color: transparent;
      color: #DBA25B;
  
     width: 200px;
     height: 50px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
      margin-top: 50px;
    }
    .btn:hover{
      border: 2px solid white;
      color: white;
      
    }
    /* important section start from here */
    .title-3{
      text-align: center;
      font-size: 35px;
      margin: 100px 0px;
    }
    .important-section{
       margin-bottom: 100px;
    }
    @media (max-width: 768px) {
      .important-section{
        margin-bottom: 50px !important;
      }
      .div-3{
      flex-wrap: wrap-reverse !important;
      padding: 20px 20px !important;
      }
      .in-box{
        padding-left: 0px !important;
      }
      .div-3 div{
        width: 100% !important;
      }
      .div-3 div img{
        width: 100% !important;
         
      }
      .div-3-div{
        flex-wrap: wrap !important;
      }
      .img-1{
        height: auto !important;
      }
      .title-3{
        font-size: 35px !important;
        margin: 50px 0px !important;
      }
      .text-4{
        font-size: 25px !important;
        margin: 20px 0px !important;
        text-align: center !important;
      }
    }
    .div-3{
      display: flex;
      background-color: #F2F2F2;
      justify-content: center;
      padding: 50px 150px;
      gap: 20px;
       
    }
    .div-3 div{
      width: 50%;
       
       
    }
       .div-3 div img{
        width: 300px
       }
       .div-3-div{
        display: flex;
         
        gap: 20px;
       }
       .img-1{
        height: 420px;
       }
       .div-3-div-2{

        display: flex;
        flex-direction: column;
        gap: 20px;
       }
       .text-4{
        font-size: 35px ;
margin: 50px 0px;
        text-align: start;
       }
       .in-box{
        padding-left: 100px;
       }
       /* footer-section start from here */
       
        .footer-section{
          background-color: #4F5E44;
          color: white;
          padding: 50px 200px 10px;
          text-align: center;
        }
        .footer-section img{
          width: 250px;
          margin: auto;
        }
        .footer-box{
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 50px;
          
          margin: 50px 0;
        }
        @media (max-width: 768px) {
          .footer-section{
            padding: 50px 20px 10px;
          }
          .footer-box{
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
          }
          .footer-box div{
            width: 100%;
            text-align: center;
          }
          
        }
         .text-5{
           color: #111210;
          margin-top: 20px;
         }
        .footer-box a{
          color: white;
          text-decoration: none;
           margin-right: 15px;
        }
        /* rooms page start from here */
        .hero-1 img{
          width: 100%;
          height: 90vh;
          object-fit: cover;
          position: relative;   
        }
        @media (max-width: 768px) {
          .hero-1 img{
            height: 35vh;
          }
          .box-2 .in-box-2{
            width: 100% !important;
            padding: 0 !important;
          }
          .box-2{
            padding: 20px 20px 40px 20px!important;
            gap: 10px !important;
          }
          .box-2 .in-box-2 img{
            width: 100% !important;
            height: 250px !important;
            margin-bottom: 20px !important;
          }
          .title-4{
            font-size: 35px !important;
            margin: 50px 0px !important;
          }
        }
        .title-4{
          text-align: center;
          font-size: 45px;
          margin: 100px 0px;
        }
        .box-2{
          display: flex;
           background-color: #F2F2F2;
          flex-wrap: wrap;
          padding: 50px 180px;
          align-items: center;
          gap:50px;
           
        }
        .box-2 .in-box-2{
          width: 45%;
          
           
          padding: 20px;
          border-radius: 10px;
          text-align: center;
        }
        .in-box-2 p{
          font-size: 18px;
          line-height: 34px;
          color:rgb(50, 48, 48);
           
        }
        @media (max-width: 768px) {
          .box-2 .in-box-2{
            width: 100% !important;
             
          }
          
        }

        .box-2 .in-box-2 img{
          width: 48%;
          height:250px;
           
          border-radius: 10px;
        }
        .text-6{
          margin: 30px 0px;
          text-align: center;
        }
        .btn-3{
          display: flex;
            
          align-items: center;
          justify-content: center;
          gap: 20px;
          margin: 30px 0px;
          
        }
        .btn-3 .button-1 {
          border: 2px solid #4F5E44;
          background-color: transparent;
          color: #4F5E44;
            
         
          
          width: 200px;
          height: 50px;
          cursor: pointer;
           
        }
        .btn-3 .button-1:hover{
          border: 2px solid #DBA25B;
          color: #DBA25B;
        }
        .btn-3 button:focus{
          border: 2px solid #DBA25B;
          color: #DBA25B;
        }
        /* cottage section start from here */
        .cottage-section {
           
          padding: 100px 180px;
          text-align: center;
        }
        .text-7 {
          font-size: 45px;
          margin-bottom: 100px;
        }
        .cottage-image{
          display: flex;
          justify-content: center;
          gap: 20px;
          flex-wrap: wrap;}
        .cottage-image img {
          width: 30%;
          height: 300px;
          object-fit: cover;}
          @media(max-width: 768px) {
            .cottage-section {
              padding: 50px 20px;
             
            }
            .cottage-image img {
              width: 100%;
              height: 250px;
            }
            .text-7 {
              font-size: 30px;
              margin-bottom: 50px;
            }
          }
          /* bar page start from here */
            .hero-2 img{
          width: 100%;
          height: 90vh;
          object-fit: cover;
          position: relative;   
        }
        @media (max-width: 768px) {
          .hero-2 img{
            height: 35vh;
          } 
         
          .in-box-3{
           width: 100% !important;
          
           
         
         
           padding-left: 0px !important;
           }
           .in-box-3 img{
              width: 100% !important;
           }

         .title-5{
          font-size: 35px !important;
          margin: 50px 0px !important;  

        } 
        .container-5{
          margin: 0px 20px 50px !important;
        }
        .box-3{
          width: 100% !important;
          justify-content: center !important;
        }
        .box-4{
          width: 95% !important;
        }
      }
        .title-5{
          text-align: center;
          font-size: 45px;
          margin: 100px 0px;
        }
         .in-box-3{
           width: 45%;
          
           
         
         
           padding-left: 50px;
           }
           .in-box-3 img{
            width: 90%
           }
           .container-5{
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
             margin: 0px 180px 100px;
             gap: 20px;
           }
           .container-5 .box-3{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            gap:20px;
           }
           .container-5 .box-3 img{
            width: 46%;
            
            object-fit: cover;
            border-radius: 10px;
           }
           .box-4{
            width: 46%;
           }
           .box-4 img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
           }
           /* restaurant page start from here */
           .hero-3 {
                  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/r1.jpg');
             overflow: hidden;
               width: 100%;
             height: 90vh;
             background-size: cover;
             background-repeat: no-repeat;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
           }
           @media (max-width: 768px) {
            .hero-3 {
             height: 35vh;
           } 
           .hero-3 h1{
             font-size: 35px !important;
             margin: 0 20px;
           }
           .hero-3 p{
             font-size: 18px !important;
             margin-top: 10px !important;

           }

          }
           .hero-3 h1 {
             
             color: white;
             font-size: 55px;
             text-align: center;
             
           }
           .hero-3 p {
             
             color: white;
             font-size: 24px;
             text-align: center;
             margin-top: 30px;
           }
           /* food section start from here */
           .food-section {
            margin: 100px 0px;
            padding: 0px 180px;
            display: flex;
            gap: 50px;
            flex-wrap: wrap;
           }
           @media (max-width: 768px) {
            .food-section{
              margin: 50px 0px;
              padding: 0px 20px;
            }
            .food-section .div-4{
              width: 100% !important;
            }
            .food-section .div-5{
              width: 100% !important;
            }
            .text-8{
              font-size: 35px !important;
               
            }
           }
           .food-section .div-4{
            width: 46%;
            text-align: center;
           }
           .food-section .div-5{
            width: 48%;
            display: flex;
            gap: 20px;

           }
           .div-5 img{
              width: 48%;
           }
           .text-8{
            font-size: 45px;
            margin-bottom: 50px;
           }
           .text-9{
            line-height: 23px;
            color: #3d3f3a;
           }
           .food-menu{
            display: flex;
            flex-wrap: wrap;
             
            margin: 100px 0px;
            padding: 0px 180px;
           }
           .food-menu .div-7{
             width: 50%;
            display: flex;
   flex-direction: column;
             gap:20px;
            justify-content: center;
            align-items: center;
           }
           .food-menu .div-6{
            width: 50%;
            display: flex;
             flex-wrap: wrap;
            gap: 20px;
           }
           @media (max-width: 768px) {
            .food-menu{
              margin: 50px 0px;
              padding: 0px 20px;
              justify-content: center;
              gap: 50px;
            }
            .food-menu .div-6{
              width: 100% !important;
            }
            .supper-club{
              padding: 50px 20px !important;
            }
            .title-10{
              font-size: 35px !important;
              margin-bottom: 50px !important;
            }
            .supper-club-content img{
              width: 100% !important;
            }
             .supper-club-content .div-8{
              width: 100% !important;
             }
              .div-9{
                margin-top: 20px !important;
              }
              .div-9 img{
                width: 100% !important;
              }
           }
            
           .food-menu div img{
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
           }
            .btn-5{
     border: 2px solid #DBA25B;
      background-color: transparent;
      color: #DBA25B;
  
     width: 200px;
     height: 50px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
      
    }
    .btn-5:hover{
      border: 2px solid #000;
      color: #000;
      
    }
    .supper-club-buttons{
      display: flex;
       justify-content: center;
       margin-top: 50px;
      gap: 20px;
    }
    .supper-club {
      background: #F2F2F2;
      padding: 100px 180px;
    }
    .title-10 {
      font-size: 45px;
      text-align: center;
      margin-bottom: 100px;
      
    }
    .supper-club-content{
      display: flex;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap-reverse;
    }
    .supper-club-content img{
      width: 47%;
      border-radius: 10px;
    }
    .supper-club-content .div-8{
      width: 47%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    .div-8 p{
      font-size: 20px;
      line-height: 34px;
      color: #4F5E44;
    } 
    .div-9{
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 20px;
    }
    .div-9 img{
      width: 32%;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
    }
    /* outdoor page start for here */
    .hero-section {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/181.jpg');
      width: 100%;
      height: 90vh;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 768px) {
      .hero-section {
        height: 35vh;
      }
      .hero-section h1{
        font-size: 35px !important;
      }
      .outdoor-section{
        padding: 20px 20px !important;
        gap: 0px !important;
      }
      .btn-6{
        margin-top: 20px !important;
      }
      .outdoor-section img{
        width: 100% !important;
        height: auto !important;
      }
      .outdoor-section div{
        width: 100% !important;
      }
      .gallery-section{
        padding: 50px 20px !important;
      }
      .gallery-section h1{
        margin-bottom: 50px !important;
        font-size: 35px !important;
      }
      

      
    }
    .hero-section h1 {
      color: white;
      font-size: 55px;
      text-align: center;

    }
    
    .hero-section p {
      color: rgb(204, 198, 198);
      font-size: 20px;
      margin-top: 30px;
      text-align: center;
    }
.outdoor-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 180px;
  gap: 50px;
  background-color: #F2F2F2;
}

.outdoor-section img{
  width: 48%;
  
  border-radius: 10px;
}
.outdoor-section div {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
     .btn-6{
     border: 2px solid #DBA25B;
      background-color: transparent;
      color: #DBA25B;
  margin-top: 50px ;
     width: 200px;
     height: 50px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
      
    }
    .btn-6:hover{
      border: 2px solid #000;
      color: #000;
      
    }
.outdoor-section h2{
  font-size: 35px;
  text-align: center;
  margin: 20px 0;
}
.outdoor-section p{
  font-size: 18px;
  color: rgb(69, 65, 65);
}
.gallery-section {
  padding: 100px 180px;
 }
.gallery-section h1 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 45px;

}
/* even page start from here */
@media (max-width: 768px) {
  .hero-section-1{
    height: 35vh !important ;
  }
  .img-2{
    margin-top: 20px;
  }
}
.hero-section-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/3394 (1).jpg');
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
