* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: "Raleway", sans-serif;
 }

nav {
    background: #4F5E44;
    
    padding: 10px 20px;
}

.logo1 {
    width: 250px;
    margin: auto;
    display: block;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px;
}
@media (max-width: 768px) {
   .nav-links{
    display: none;
   }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger {
    display: block !important;
    background: transparent;
     border: none;
    color: #fff;
     

}
.navbar{
    display:block !important;
}
}
.nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-links ul button{ 
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-links ul button:hover{
    border: 1px solid #DBA25B;
    color: #DBA25B;
    transition: 0.3s ease-in-out;

}
 .nav-links ul button:hover a{
    color: #DBA25B;
    text-decoration: none;
 }
.nav-links a {
    text-decoration: none;
     color: #fff;
     font-weight: 400;
}

.nav-links a:hover {
    color: #DBA25B;
    
    
     
}
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.nav-links2 {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 99;
  top: 110px;
  left: 0;
  background-color: #4F5E44;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.navbar{
    display: none;
}
.nav-links2 li {
  padding: 12px 0;
}

.nav-links2  a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav-links2 a button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-links2 a:hover {
  color: #DBA25B;
}

.nav-links2.show {
  display: block;
}

/* hero section start from here */
.swiper {
    width: 100%;
    
    height: 90vh;
    margin: auto;
     
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
@media (max-width: 768px) {
    .swiper {
        height: 35vh;
    }
    .swiper-slide img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
}
  .swiper-slide {
     
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* about section start from here */
  .about-section {
    background: #F2F2F2;
    padding: 100px 0px 0px;
     }
    .title-1{
      font-size: 35px;
      text-align: center;
      
    }
    @media (max-width: 768px) {
       .about-section
        {
          padding: 50px 0px 0px;
      
    }
  .contriner-1{
    margin-top: 30px !important;
  }}
    .contriner-1{
      display: flex;
      margin-top: 100px;

    }
    .contriner-1 img{
      width: 50%;
      height: 80vh;
      object-fit: cover;
    }
    .contriner-1 div{
      width: 50%;
      text-align: center;
      padding: 60px 100px;
    }
    @media (max-width: 768px) {
      .contriner-1{
        flex-wrap: wrap-reverse;
      }
      .contriner-1 img{
        width: 100%;
        height: 40vh;
      }
      .contriner-1 div{
        width: 100%;
padding: 20px;
text-align: start;

      }


       .contriner-2{
        flex-wrap:wrap !important;
      }
      .contriner-2 img{
        width: 100% !important;
        height: 40vh !important;
      }
      .contriner-2 div{
        width: 100% !important;
padding: 20px !important;
text-align: start !important;
      }
     
    }
    .text-1{
      font-size: 20px;
      line-height: 34px;
      color: #4F5E44;
    }
    .contriner-2{
      display: flex;
      margin: 0;
    }

    .contriner-2 div{
      width: 50%;
      padding: 60px 100px;
    }
    .contriner-2 img{
       width: 50%;
      height: 80vh;
      object-fit: cover;
    }
    .text-2{
      font-size: 20px;
      line-height: 34px;
      color: #4F5E44;
    }
    /* opening section start from here */
    .title-2{
      margin: 100px 0px;
      text-align: center;
      font-size: 35px;
    }
    .container-3{
      display: flex;
      justify-content: center;
       flex-wrap: wrap;
       margin: 0px 150px;
      padding-bottom: 100px;
       gap: 50px;
    }
    .images{
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    @media (max-width: 768px) {
      .title-2{
        margin: 50px 0px;
        font-size: 30px;
      }
      .container-3{
        margin: 0px 20px !important;
        gap: 20px !important;
        flex-wrap: wrap-reverse !important;
        padding-bottom: 50px !important;
      }
      .images{
        width: 100% !important;
      }
      .images img{
        width: 100% !important;
        height: 250px !important;
      }
      .text-3{
        width: 100% !important;
        font-size: 18px !important;
        display: flex !important;
         
       

        
      }
      .text-3 div{
        width: 45%;
        height: auto !important;
      }
      
    }
    .text-3{
      width: 35%;
     font-size: 20px;
     display: flex; 
     gap:  20px;
     flex-wrap: wrap;
    
    }
    .images img{
      width: 40%;
      height: 250px;
      object-fit: cover;
      border-radius: 30px;
    }