* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
 }

nav {
    background: #4F5E44;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
}

.logo1 {
    width: 250px;
    margin: auto;
    display: block;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px;
}
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 55px;
}
.nav-links a {
    text-decoration: none;
     color: #fff;
}

.nav-links a:hover {
    color: #DBA25B;
    
    
     
}